<div>
    <input type="text" ng-model="myInput">
</div>
<div>
    {{ myInput }}
</div>
<img ng-src="{{ imgUrl }}" width="130" height="100">
<div>
    <input type="button" value="Click Me!" ng-dblclick="onClick()">
    {{ progress }}
</div>      
<input type="button" ng-value="showLabel" ng-click="show()">
<input type="button" ng-value="hideLabel" ng-click="hide()">
<div>
    <input type="button" ng-value="btnLabel">
    <input type="radio" value="Show" ng-model="btnLabel"> English
    <input type="radio" value="Dikhao" ng-model="btnLabel"> Hindi
</div>
<my-lang my-val="'my str'"></my-lang>

<a ui-sref="studentListState">Student List</a>