<a ui-sref="homeState">Go Back</a>
<br />

<div>
    <input type="text" placeholder="name" ng-model="user.name">
    <input type="text" placeholder="email" ng-model="user.email">
    <input type="button" value="Add User" ng-click="addUser()">
</div>

<table ng-hide="true">
    <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Date of Joining</th>
        <th>Marks</th>
    </tr>
    <tr ng-repeat="student in students | limitTo:5 | filter:searchText | orderBy:'name' ">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.department }}</td>
        <td>{{ student.doj | date:'EEEE/d/MMMM/y' }}</td>
        <td>
            <ul>
                <li ng-repeat="mark in student.marks track by $index">
                    {{ mark | currency:'INR' }} - {{ $parent.$index }}
                </li>
            </ul>
        </td>
        <td>
            {{ 200000000000 | number }}
        </td>
    </tr>
</table>

<table ng-hide="false">
    <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Is Active</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{ user.id }}</td>
        <td>
            <input type="text" ng-model="user.name">
        </td>
        <td>
            <input type="text" ng-model="user.email">
        </td>
        <td>{{ user.active }}</td>
        <td>{{ user.created_at | date }}</td>
        <td>
            <input type="button" value="Update" ng-click="updateUser(user)">
            <input type="button" value="Delete" ng-click="deleteUser(user)">
        </td>
    </tr>
</table>