<div>
    <input type="button" ng-value="btnLabel">
    <input type="radio" value="Show" ng-model="btnLabel"> English
    <input type="radio" value="Dikhao" ng-model="btnLabel"> Hindi
</div>

<div>
    {{ myVal }}
</div>